/* App.css */

/* Style the text color of the Navbar links */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
  /* Add a smooth transition on all properties */
}

/* Apply the hover animation when the link is hovered */
.navbar-dark .navbar-nav .nav-link:hover {
  transform: translateY(-2px);
  /* Move the link 2 pixels up */
}

/* Apply the active state style when the link is clicked */
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  /* You can adjust the color as per your preference */
  text-decoration: underline;
  /* Add an underline to the link */
}