@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
  transform: translateY(-2px);
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  text-decoration: underline;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #fff;
  z-index: 9999;
  border-radius: 50px;
}

.home-content {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
  text-align: center;
  border-radius: 10px;
}

.home-h1 {
  font-size: 85px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.home-p {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

#section2 {
  background-image: url('https://i.imgur.com/gMbao5C.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-me-h1 {
font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.about-section-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
  
}

.about-section-subtitle {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.skills-part,
.about-part {
  flex: 1;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.about-part {
  flex: 1;
  padding: 10px;
  margin-left: 50px;
}
.about-me-h1 {
  font-size: 30px;
}

.about-me-h2 {
  font-size: 20px;
  text-align: center;
}

.about-me-p {
  font-size: 10px;
}

.about-me-subtitle-p {
  font-size: 7px;
    text-align: justify;
}

.button-container-about {
text-align: center;
margin-bottom: -10px;
margin-top: 5px;
}

.contact-me-button {
font-size: 5px;
border: 0.5px solid black;
border-radius: 2px;
transition: transform 0.3s ease;
margin-top: 5px;
}

.contact-me-button:hover {
transform: translateY(-1px);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.skill-box {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 7px;
}


h2 {
  font-size: 10px;
}


@media (max-width: 910px) {

  .about-section-subtitle {
    flex-direction: column;
    top: 120px;
  }

  .about-part {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .skills-part {
    margin-left: 10px;
    margin-right: 10px;
  }
}