.contact-h1-div {
    padding-top: 40px;
}

.contact-form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1-content {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 85px;
}

.container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.item {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.item-text {
    font-size: 14px;
}