@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.project-h1-div {
    padding-top: 40px;
}

.h1-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 85px;
}

.container {
    width: 150px;
    height: 150px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.item {
    background: white;
    border-radius: 15%;
}

#projects-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72vh;
}

.content-item-one, .content-item-two, .content-item-three, .content-item-four {
    text-align: center;
}

.item-h2 {
    font-size: 7px;
    padding-top: 10px;
}

.item-p {
    font-size: 2px;
    margin: 4px;
    text-align: justify;
}
.button-tictactoe-go, .button-joke-go, .button-weather-go, .button-paint-go {
    height: 10px;
    font-size: 5px;
    border: 0.5px;
    }