.weather-page-content {
    text-align: center;
}

.weather-label {
    font-size: 25px;
    font-family: 'Ysabeau Office', sans-serif;
}

.weather-submit {
    font-size: 25px;
    font-family: 'Ysabeau Office', sans-serif;
}